<div fxLayout="column" fxFlexFill fxLayoutAlign="center center" style="background-image:url('../../../assets/login11.jpg');
height: 100%;
background-repeat: no-repeat;
background-position: center;
background-size: cover; ">
    <div fxLayout="column" >
   
        <div class=" mat-elevation-z4">
            <mat-card>
                <mat-card-title>User login
                </mat-card-title>
                <mat-card-content>
                        <p style="color:red; font-weight:bold" *ngIf="loginFailed">
                                Login wasn't successfull.
                        </p>
                        <mat-form-field class="full-width">
                          <input type="text" id="username" class="input" placeholder="Username" [(ngModel)]="userName"
                                required matInput>
                        </mat-form-field>
                        <mat-form-field class="full-width">
                            <input type="password" id="password" class="input" placeholder="Password"
                            [(ngModel)]="password" required matInput>
                        </mat-form-field>
                        <button mat-raised-button color="primary" type="submit" (click)="loginWithPassword()">Login</button>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    <b>access_token_expiration:</b> {{access_token_expiration}}
                </p>
            </div>
        </div>
        
        <div class="panel panel-default">
        <div class="panel-body">
            <p>
                <b>access_token:</b> {{access_token}}
            </p>
            <div *ngIf="userProfile">
                <b>user profile:</b>
                <pre>{{userProfile | json}}</pre>
            </div>
        
        </div>
        </div>
</div>
