<mat-sidenav-container class="container" fullscreen>
    <mat-sidenav [mode]="sideNavMode" class="sidenav" #sidenav [opened]="sideNavOpened" style="overflow: hidden;">
        <mat-toolbar color="primary" class="mat-elevation-z4" >
            <img src="./assets/rtc.png" width="60px">
        </mat-toolbar>
        <rtc-sidemenu></rtc-sidemenu>
    </mat-sidenav>
    <mat-sidenav-content style="z-index: unset;overflow: hidden;">
        <mat-drawer-container fullscreen>
            <mat-drawer mode="side" #drawer class="drawer" [opened]="matDrawerOpened" style="overflow: hidden;">
                <mat-toolbar color="primary" class="mat-elevation-z4">
                    <img src="./assets/rtc.png" width="50px">
                </mat-toolbar>
                <rtc-sidemenu [iconOnly]="true"></rtc-sidemenu>
            </mat-drawer>
            <mat-drawer-content style="overflow: hidden;">
                <cdk-toolbar [sidenav]="sidenav" [drawer]="drawer" [sidebar]="sidenav2" [matDrawerShow]="matDrawerShow" style="z-index: 500"></cdk-toolbar>
                <perfect-scrollbar  style="height: calc(100% - 33px);" >
                    <router-outlet></router-outlet>
                </perfect-scrollbar>
            </mat-drawer-content>
        </mat-drawer-container>
    </mat-sidenav-content>

    <mat-sidenav #sidenav2 position="end" mode="over">
    </mat-sidenav>

</mat-sidenav-container>
                 
            
            
    
    









