<div fxLayout="column"  class="components-container-gt-xs"  [ngClass.xs]="'components-container-xs'"  fxLayoutGap="20px">

	<div fxFlex class="table-component-holder mat-elevation-z4">
		<mat-toolbar class="table-header">
			<h1 class="mat-headline center-align" >Device List</h1>
		</mat-toolbar>
		<div class="table-container">
			<div class="example-header" style="padding: 0 20px;">
				<mat-form-field floatPlaceholder="never" style="color: black; width: 100%;">
					<input matInput #filter placeholder="Filter Devices">
				</mat-form-field>
			</div>
			<div fxLayout="row" class="example-header example-selection-header mat-headline center-align "
				*ngIf="!selection.isEmpty()">
				{{selection.selected.length}}
				{{selection.selected.length == 1 ? 'user' : 'users'}}
				selected
			</div>

			<mat-table #table [dataSource]="dataSource" matSort style="margin-top: 20px;">

				<!--- Note that these columns can be defined in any order.
				The actual rendered columns are set as a property on the row definition" -->

				<!-- Checkbox Column -->
				<ng-container matColumnDef="select">
					<mat-header-cell *matHeaderCellDef>
						<mat-checkbox (change)="$event ? masterToggle() : null"
							[checked]="isAllSelected()"
							[indeterminate]="selection.hasValue() && !isAllSelected()">
							</mat-checkbox>
					</mat-header-cell>
					<mat-cell *matCellDef="let row">
						<mat-checkbox (click)="$event.stopPropagation()"
							(change)="$event ? selection.toggle(row.id) : null"
							[checked]="selection.isSelected(row.id)">
							</mat-checkbox>
					</mat-cell>
				</ng-container>

				<!-- ID Column -->
				<ng-container matColumnDef="userId">
					<mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
					<mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
				</ng-container>

				<!-- Progress Column -->
				<ng-container matColumnDef="progress">
					<mat-header-cell *matHeaderCellDef mat-sort-header> Progress </mat-header-cell>
					<mat-cell *matCellDef="let row"> {{row.progress}}% </mat-cell>
				</ng-container>

				<!-- Name Column -->
				<ng-container matColumnDef="userName">
					<mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
					<mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
				</ng-container>

				<!-- Color Column -->
				<ng-container matColumnDef="color">
					<mat-header-cell *matHeaderCellDef mat-sort-header> Color </mat-header-cell>
					<mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </mat-cell>
				</ng-container>

				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: displayedColumns;"
				[class.example-selected-row]="selection.isSelected(row.id)"
				(click)="selection.toggle(row.id)">
				</mat-row>
			</mat-table>

			<div class="example-no-results"
				[style.display]="dataSource?.renderedData.length == 0 ? '' : 'none'">
				No users found matching filter.
			</div>

			<mat-paginator #paginator
				[length]="100"
				[pageIndex]="0"
				[pageSize]="25"
				[pageSizeOptions]="[5, 10, 25, 100]">
			</mat-paginator>
		</div>
	</div>
</div>
