
<perfect-scrollbar style="height: calc(100% - 33px);">
    <div fxLayout="column" >
        <rtc-sidemenu-item *ngFor="let menu of menus" [menu]="menu" [iconOnly]="iconOnly"> </rtc-sidemenu-item>
    </div>
</perfect-scrollbar>
